<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- angular material-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.css' type='text/css' media='all'/>
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="mod_idn/assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/appStyles.css">
    <meta name="google-signin-clientid" content="504012731896-rerpg50s2kgra2u0qcsvt59pvmcmetlk.apps.googleusercontent.com" />
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login email" />
    <meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <!-- endbuild -->

    <!-- favicon -->

</head>
<body ng-app="clientApp">
<div id="subdomain" class="nbos_hide"><%= subDomain %></div>
<div id="ENV" class="nbos_hide"><%= ENV %></div>
<div id="appName" class="nbos_hide"><%= ENV %></div>

<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->

<div flex>
    <div ui-view flex id="codingLabsView" ng-controller="AppCtrl"></div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script>
    (function () {
        /*
         vrathore: The angular material seems to look a little too big. Untill srikanth reduces the size for it all,
         */
        //document.body.style.zoom = "90%";
    })();
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!-- ANGULARJS Libraries-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<!--Cookies-->
<!--<script src="bower_components/angular-cookie/angular-cookie.min.js"></script>-->
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="bower_components/angular-resource/angular-resource.js"></script>
<!-- angular material requirements-->
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<!--loading bar-->
<script src='bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
<!--underscore-->
<script src="bower_components/underscore/underscore.js"></script>
<!--file Upload-->
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<!--Md-table -->
<script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>


<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!-- APP -->
<script src="client.js"></script>

<!-- CONFIGURATIONS LEVEL -->
<!-- config -->
<script src="mod_config/config/mod.config.js"></script>
<script src="mod_config/config/appService.js"></script>
<script src="mod_config/config/appCtrl.js"></script>
<!-- layout -->
<script src="mod_config/layout/mod.layout.js"></script>
<script src="mod_config/layout/layoutCtrl.js"></script>
<script src="mod_config/layout/layoutService.js"></script>
<!--primaryPage-->
<script src="mod_config/primaryPage/primaryPageCtrl.js"></script>
<!-- common -->
<script src="mod_config/common/stateService.js"></script>

<!-- APP_IDN -->
<script src="mod_idn/mod.idn.js"></script>
<script src="mod_idn/scripts/idnConstants.js"></script>


<!-- SERVICES -->
<script src="mod_idn/scripts/services/SessionService.js"></script>
<script src="mod_idn/views/dashboard/RolesService.js"></script>
<script src="mod_idn/views/dashboard/UserService.js"></script>
<script src="mod_idn/scripts/services/shared/alertService.js"></script>
<script src="mod_idn/scripts/services/registration/registerService.js"></script>
<script src="mod_idn/scripts/services/registration/loginService.js"></script>

<!-- CONTROLLERS -->
<script src="mod_idn/views/dashboard/idn.dashboardCtrl.js"></script>

<script src="mod_idn/scripts/controllers/registration/loginCtrl.js"></script>
<script src="mod_idn/scripts/controllers/registration/registerCtrl.js"></script>
<script src="mod_idn/scripts/controllers/registration/registerSuccessCtrl.js"></script>
<script src="mod_idn/views/menu/idn.headerCtrl.js"></script>
<script src="mod_idn/views/menu/idn.navCtrl.js"></script>
<script src="mod_idn/views/profile/idn.profileCtrl.js"></script>
<script src="mod_idn/views/settings/idn.settingsCtrl.js"></script>

<!-- SOCIAL LOGIN -->
<script src="mod_idn/scripts/services/social/SocialLoginService.js"></script>
<script src="mod_idn/scripts/services/social/FBService.js"></script>
<script src="mod_idn/scripts/services/social/GoogleService.js"></script>
<script src="https://apis.google.com/js/client:platform.js" async defer></script>


<!--MOD_NBOS-->
<script src="mod_nbos/mod.nbos.js"></script>

<!-- APP_CONSOLE -->
<script src="mod_nbos/mod_console/mod.console.js"></script>
<script src="mod_nbos/mod_console/views/dashboard/console.dashboardCtrl.js"></script>
<script src="mod_nbos/mod_console/views/projects/projectsCtrl.js"></script>
<script src="mod_nbos/mod_console/views/projects/projectsService.js"></script>

<script src="mod_nbos/mod_console/views/manage/manageCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manageService.js"></script>
<script src="mod_nbos/mod_console/views/manage/LayoutService.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.dashCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.aboutCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.appConfigCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.clientsCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.tokensCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.layoutCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.themeCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.marketCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.marketViewCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.moduleViewCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.clientTokensCtrl.js"></script>

<script src="mod_nbos/mod_console/views/menu/console.headerCtrl.js"></script>
<script src="mod_nbos/mod_console/views/menu/console.navCtrl.js"></script>

<script src="mod_nbos/mod_console/views/modules/moduleMarketplaceCtrl.js"></script>
<script src="mod_nbos/mod_console/views/modules/moduleService_Console.js"></script>
<script src="mod_nbos/mod_console/views/modules/moduleViewCtrl.js"></script>
<script src="mod_nbos/mod_console/views/dynamicForm/dynamicForm.js"></script>





<!-- endbuild -->
</body>
</html>
