<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- angular material-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.css' type='text/css' media='all'/>
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="app_idn/assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/appStyles.css">
    <link rel="stylesheet" type="text/css" href="app_nbos/app_dev/styles/devStyles.css">

    <!-- Include Font Awesome. -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <!-- Include Editor style. -->
   <link href="bower_components/froala-wysiwyg-editor/css/froala_editor.min.css" rel="stylesheet" type="text/css" />
   <link href="bower_components/froala-wysiwyg-editor/css/froala_style.min.css" rel="stylesheet" type="text/css" />

  <!-- Include Code Mirror style -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
   <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>

  <!-- Include Editor Plugins style. -->
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/char_counter.css">
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/code_view.css">
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/colors.css">
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/emoticons.css">
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/file.css">
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/fullscreen.css">
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/image.css">
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/image_manager.css">
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/line_breaker.css">
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/quick_insert.css">
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/table.css">
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/video.css">
    <!-- endbuild -->

    <!-- favicon -->
    <meta name="google-signin-clientid" content="934148761240-7uf49nhf76jset1ad8vatqj9pdflghtj.apps.googleusercontent.com" />
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login email" />
    <meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />

</head>
<body ng-app="clientApp">
<div id="subdomain" hide><%= subDomain %></div>
<div id="ENV" hide><%= ENV %></div>
<div id="appName" hide><%= ENV %></div>

<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->

<div style="width: 100%; height: 100%; overflow: auto;" layout="row" flex>
    <div ui-view layout="row" flex id="codingLabsView" ng-controller="AppCtrl"></div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script>
    (function () {
        /*
         vrathore: The angular material seems to look a little too big. Untill srikanth redues the size for it all,
         */
        //document.body.style.zoom = "90%";
    })();
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!-- ANGULARJS Libraries-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<!--Cookies-->
<!--<script src="bower_components/angular-cookie/angular-cookie.min.js"></script>-->
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="bower_components/angular-resource/angular-resource.js"></script>
<!-- angular material requirements-->
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<!--loading bar-->
<script type='text/javascript' src='bower_components/angular-loading-bar/build/loading-bar.min.js'></script>

<script src="bower_components/angular-froala/src/angular-froala.js"></script>
<script src='bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
<script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>

<!-- froala JS files. -->
  <script src="bower_components/froala-wysiwyg-editor/js/froala_editor.min.js"></script>

  <!-- Include Code Mirror. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

  <!-- Include Plugins. -->
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/align.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/char_counter.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/code_beautifier.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/code_view.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/colors.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/emoticons.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/entities.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/file.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/font_family.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/font_size.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/fullscreen.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/image.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/image_manager.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/inline_style.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/line_breaker.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/link.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/lists.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/paragraph_format.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/paragraph_style.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/quick_insert.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/quote.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/table.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/save.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/url.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/video.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!-- APP -->
<script src="client.js"></script>

<!-- CONFIGURATIONS LEVEL -->
<!-- config -->
<script src="app/config/app.config.js"></script>
<script src="app/config/appService.js"></script>
<script src="app/config/appCtrl.js"></script>
<!-- layout -->
<script src="app/layout/app.layout.js"></script>
<script src="app/layout/layoutCtrl.js"></script>
<script src="app/layout/layoutService.js"></script>
<!--primaryPage-->
<script src="app/primaryPage/primaryPageCtrl.js"></script>
<!-- common -->
<script src="app/common/stateService.js"></script>

<!-- APP_IDN -->
<script src="app_idn/app.idn.js"></script>
<script src="app_idn/scripts/idnConstants.js"></script>


<!-- SERVICES -->
<script src="app_idn/scripts/services/SessionService.js"></script>
<script src="app_idn/views/dashboard/RolesService.js"></script>
<script src="app_idn/views/dashboard/UserService.js"></script>
<script src="app_idn/scripts/services/shared/alertService.js"></script>
<script src="app_idn/scripts/services/registration/registerService.js"></script>
<script src="app_idn/scripts/services/registration/loginService.js"></script>

<!-- CONTROLLERS -->
<script src="app_idn/views/dashboard/idn.dashboardCtrl.js"></script>

<script src="app_idn/scripts/controllers/registration/loginCtrl.js"></script>
<script src="app_idn/scripts/controllers/registration/registerCtrl.js"></script>
<script src="app_idn/scripts/controllers/registration/registerSuccessCtrl.js"></script>
<script src="app_idn/views/menu/idn.headerCtrl.js"></script>
<script src="app_idn/views/menu/idn.navCtrl.js"></script>
<script src="app_idn/views/profile/idn.profileCtrl.js"></script>
<script src="app_idn/views/settings/idn.settingsCtrl.js"></script>

<!-- SOCIAL LOGIN -->
<script src="app_idn/scripts/services/social/SocialLoginService.js"></script>
<script src="app_idn/scripts/services/social/FBService.js"></script>
<script src="app_idn/scripts/services/social/GoogleService.js"></script>
<script src="https://apis.google.com/js/client:platform.js" async defer></script>


<!--APP_NBOS-->
<script src="app_nbos/app.nbos.js"></script>

<!-- APP_DEV -->
<script src="app_nbos/app_dev/app.dev.js"></script>
<script src="app_nbos/app_dev/views/dashboard/dev.dashboardCtrl.js"></script>
<script src="app_nbos/app_dev/scripts/controllers/ModulesListCtrl.js"></script>
<script src="app_nbos/app_dev/scripts/controllers/ManageModuleCtrl.js"></script>
<script src="app_nbos/app_dev/scripts/controllers/ModuleInfoCtrl.js"></script>
<script src="app_nbos/app_dev/scripts/controllers/ModuleConfigCtrl.js"></script>
<script src="app_nbos/app_dev/scripts/controllers/ModuleBugReportCtrl.js"></script>
<script src="app_nbos/app_dev/scripts/controllers/ModuleStarterCodeCtrl.js"></script>
<script src="app_nbos/app_dev/scripts/controllers/AboutModuleCtrl.js"></script>
<script src="app_nbos/app_dev/scripts/controllers/ModuleReadMeCtrl.js"></script>
<script src="app_nbos/app_dev/scripts/controllers/UsrSettingsCtrl.js"></script>
<script src="app_nbos/app_dev/scripts/controllers/ModuleTokensCtrl.js"></script>

<script src="app_nbos/app_dev/views/menu/dev.headerCtrl.js"></script>
<script src="app_nbos/app_dev/views/menu/dev.navCtrl.js"></script>

<!-- SERVICES -->
<script src="app_nbos/app_dev/scripts/services/ModuleService.js"></script>
<script src="app_nbos/app_dev/scripts/services/MediaService.js"></script>
<script src="app_nbos/app_dev/scripts/services/StarterCoderService.js"></script>

<!-- endbuild -->
</body>
</html>
