<div layout="column" class="registration">

  <nav class="fixed-toolbar" ng-include="'mod_idn/views/header/loginHeader.html'" id=""></nav>

  <div layout="column" class="login-content-padding">
    <div layout="row" layout-padding id="registrationView">
      <div flex layout="column" >
        <md-content class="md-padding">
          <h2 class="md-display-1">Are you often <i>'LOST'</i>?</h2>
          <p class="md-subhead">
            Sign Up Now <b>IF</b>:
          <ul>
            <li>If you to keep track of the tasks you need to perform</li>
            <li>If you like to prioritize tasks constantly</li>
            <li>If you want to share your tasks with others</li>
          </ul>
          </p>
          <div layout="row" layout-align="left center">
            Already Registered?
            <md-button ui-sref="login">Sign In Here</md-button>
          </div>
          <hr>
          <div layout="column" layout-align="top center">
            <h2 class="md-title">Already a user?</h2>
            <md-button class="md-raised md-accent" ui-sref="idn.login">Click here to Login now</md-button>
          </div>

        </md-content>

      </div>

      <div style=" width: 600px;" layout="row" layout-align="center center">

        <section md-whiteframe="2" flex>
          <md-toolbar md-whiteframe="2">
            <div class="md-toolbar-tools">
              <h2 class="md-flex">Register As A User</h2>
            </div>
          </md-toolbar>
          <md-content layout-padding>
            <form name="userForm" ng-submit="registerUser(userForm);">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>First name</label>
                  <input required name="firstName" ng-model="user.firstName" ng-pattern="/[a-zA-Z]/">
                  <div ng-messages="userForm.firstName.$error" >
                    <div ng-message="['required', 'pattern']">
                      But what would we call you?
                    </div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Last Name</label>
                  <input required name="lastName" ng-model="user.lastName">
                  <div ng-messages="userForm.lastName.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>
              <div class="md-block" flex-gt-xs>
                <md-input-container class="md-block">
                  <label>Username/Email</label>
                  <input required name="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/">
                  <div ng-messages="userForm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                      Your username must look like an e-mail address.
                    </div>
                  </div>
                </md-input-container>
              </div>
              <div class="md-block" flex-gt-xs>
                <md-input-container class="md-block">
                  <label>Password</label>
                  <input required type="password" name="userPassword" ng-model="user.password" minlength="8"/>
                  <div ng-messages="userForm.userPassword.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength']">
                      Your password was required to have a minimum length of 8.
                    </div>
                  </div>
                </md-input-container>
              </div>

              <md-input-container class="md-block">
                <md-button class="md-raised md-primary" type="submit" ng-disabled="userForm.$invalid || disabledRegister" style="width: 100%;">Register</md-button>
              </md-input-container>
            </form>

            <div layout="row">
              <md-divider></md-divider>
              <!--<span flex></span>-->
              <!--<h2 class="md-subhead">- OR -</h2>-->
              <!--<span flex></span>-->
            </div>
            <div layout="row" layout-align="center">
              <md-button class="md-raised fbBtn">
                <div layout="row" layout-align="center center">
                  Sign Up with
                  <md-icon  md-svg-src="assets/icons/facebook.svg"></md-icon>
                </div>
              </md-button>

              <md-button class="gpBtn md-raised">
                <div layout="row" layout-align="center center">
                  Sign Up with
                  <md-icon md-svg-src="assets/icons/googlePlus.svg"></md-icon>
                </div>
              </md-button>
            </div>
          </md-content>
        </section>
      </div>

    </div>
  </div>

</div>


<!--
          <form name="projectForm">
            <md-input-container class="md-block">
              <label>Username/Email</label>
              <input required name="userName" ng-model="project.userName" ng-pattern="/^.+@.+\..+$/">
              <div ng-messages="projectForm.userName.$error" role="alert">
                <div ng-message-exp="['required', 'pattern']">
                  Your username must look like an e-mail address.
                </div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input required type="password" name="userPassword" ng-model="project.userPassword" minlength="8"/>
              <div ng-messages="projectForm.userPassword.$error" role="alert">
                <div ng-message-exp="['required', 'minlength']">
                  Your password was required to have a minimum length of 8.
                </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <md-button class="md-raised md-primary" style="width: 100%;">Sign In</md-button>
            </md-input-container>

            <md-button ui-sref="forgot">Forgot Password?</md-button>

          </form>
          -->
